<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>GetBaseContentJSONServlet</servlet-name>
    <servlet-class>com.helper.servlet.GetBaseContentJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBaseContentServlet</servlet-name>
    <servlet-class>com.helper.servlet.AddBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCategoryCodeJSONServlet</servlet-name>
    <servlet-class>com.helper.servlet.GetCategoryCodeJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBaseContentServlet</servlet-name>
    <servlet-class>com.helper.servlet.DeleteBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBaseContentJSONservlet</servlet-name>
    <servlet-class>com.helper.servlet.SearchBaseContentJSONservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBaseContentServlet</servlet-name>
    <servlet-class>com.helper.servlet.UpdateBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBatchBaseContentServlet</servlet-name>
    <servlet-class>com.helper.servlet.DeleteBatchBaseContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OutputDocServlet</servlet-name>
    <servlet-class>com.helper.servlet.OutputDocServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>com.helper.servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>GetCusList</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.GetCusList</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>DeletecusSeverlet</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.DeletecusSeverlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>AddCusServlet</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.AddCusServlet</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>OutExcel</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.OutExcel</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>OutWordServlet</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.OutWordServlet</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>GetCusByCodeServlet</servlet-name>
    <servlet-class>com.helper.cuslinkservlet.GetCusByCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchCompanyJsonServlet</servlet-name>
    <servlet-class>com.helper.servlet.SearchCompanyJsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyBaseCompanyServlet</servlet-name>
    <servlet-class>com.helper.servlet.ModifyBaseCompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.helper.servlet.Test</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>ShowPeijianMessage</servlet-name>
    <servlet-class>com.helper.servlet.ShowPeijianMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllMessage</servlet-name>
    <servlet-class>com.helper.servlet.ShowAllMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowAllMessages</servlet-name>
    <servlet-class>com.helper.servlet.ShowAllMessages</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>ForFindMessage</servlet-name>
    <servlet-class>com.helper.servlet.ForFindMessage</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>UpdateMessage</servlet-name>
    <servlet-class>com.helper.servlet.UpdateMessage</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>ForDeleteMessage</servlet-name>
    <servlet-class>com.helper.servlet.ForDeleteMessage</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>ForInsertMessage</servlet-name>
    <servlet-class>com.helper.servlet.ForInsertMessage</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>forChangePriceMessage</servlet-name>
    <servlet-class>com.helper.servlet.forChangePriceMessage</servlet-class>
  </servlet>
  <servlet>
     <servlet-name>DanJu</servlet-name>
    <servlet-class>com.helper.servlet.DanJu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.helper.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet>

    <servlet-name>getStockIn</servlet-name>
    <servlet-class>com.helper.servlet.getStockIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayStockInServlet</servlet-name>
    <servlet-class>com.helper.servlet.DisplayStockInServlet</servlet-class>
  </servlet>

 <servlet>
    <servlet-name>GetSaleOrderJSONServlet</servlet-name>
    <servlet-class>com.helper.servlet.GetSaleOrderJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSaleOrderDetailJSONServlet</servlet-name>
    <servlet-class>com.helper.servlet.GetSaleOrderDetailJSONServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSaleOrderServlet</servlet-name>
    <servlet-class>com.helper.servlet.UpdateSaleOrderServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowAllMessages</servlet-name>
    <url-pattern>/ShowAllMessages.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForFindMessage</servlet-name>
    <url-pattern>/FindMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMessage</servlet-name>
    <url-pattern>/UpdateMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForDeleteMessage</servlet-name>
    <url-pattern>/deleteMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForInsertMessage</servlet-name>
    <url-pattern>/InsertMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>forChangePriceMessage</servlet-name>
    <url-pattern>/changePriceMessage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DanJu</servlet-name>
    <url-pattern>/DanJu.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCompanyJsonServlet</servlet-name>
    <url-pattern>/company/SearchCompanyJsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyBaseCompanyServlet</servlet-name>
    <url-pattern>/company/ModifyBaseCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCusList</servlet-name>
    <url-pattern>/base/GetCusList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletecusSeverlet</servlet-name>
    <url-pattern>/base/DeletecusSeverlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCusServlet</servlet-name>
    <url-pattern>/base/AddCusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutExcel</servlet-name>
    <url-pattern>/base/OutExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutWordServlet</servlet-name>
    <url-pattern>/base/OutWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCusByCodeServlet</servlet-name>
    <url-pattern>/base/GetCusByCodeServlet</url-pattern>
  </servlet-mapping>	
  
  <servlet-mapping>
    <servlet-name>GetBaseContentJSONServlet</servlet-name>
    <url-pattern>/base/GetBaseContentJSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBaseContentServlet</servlet-name>
    <url-pattern>/base/AddBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCategoryCodeJSONServlet</servlet-name>
    <url-pattern>/base/GetCategoryCodeJSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBaseContentServlet</servlet-name>
    <url-pattern>/base/DeleteBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBaseContentJSONservlet</servlet-name>
    <url-pattern>/base/SearchBaseContentJSONservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBaseContentServlet</servlet-name>
    <url-pattern>/base/UpdateBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBatchBaseContentServlet</servlet-name>
    <url-pattern>/base/DeleteBatchBaseContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutputDocServlet</servlet-name>
    <url-pattern>/base/OutputDocServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/base/ExportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/base/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getStockIn</servlet-name>
    <url-pattern>/kucun/getStockIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayStockInServlet</servlet-name>
    <url-pattern>/kucun/DisplayStockInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSaleOrderJSONServlet</servlet-name>
    <url-pattern>/sale/GetSaleOrderJSONServlet</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSaleOrderDetailJSONServlet</servlet-name>
    <url-pattern>/sale/GetSaleOrderDetailJSONServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSaleOrderServlet</servlet-name>
    <url-pattern>/sale/UpdateSaleOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
